// Modal dialog styles

// Compile with `sass sv-modal.scss:sv-modal.css --no-source-map`

$blackout: rgba(0, 0, 0, 0.6) !default;
$modal-width: 480px !default;
$modal-close-size: 21px !default;
$fade-time: 0.4s;
$resize-time: 0.4s;

.modal-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 200;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000; // backup
	background-color: $blackout;

	// fade in/out
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s $fade-time, opacity $fade-time 0s ease;

	&.visible {
		opacity: 1;
		visibility: visible;
		transition: visibility 0s 0s, opacity $fade-time 0s ease;
	}

	* {
		box-sizing: border-box;
	}
}

.modal {
	position: fixed;
	z-index: 210;
	min-width: calc(#{$modal-width} - 2rem);
	max-width: calc(100% - 2rem);
	max-height: calc(100% - 2rem);
	overflow: auto;
	padding: 1.25rem;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);

	@media (max-width: $modal-width) {
		min-width: auto;
	}
}

.modal-close {
	cursor: pointer;
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	width: $modal-close-size;
	height: $modal-close-size;
	line-height: $modal-close-size;
	border-radius: 100%;

	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;

	&:hover {
		color: #fff;
		background-color: #777;
	}
}

.modal-title {
	padding-right: $modal-close-size * 1.5;
}

.modal-content {
	max-width: 100%;
	margin: 0 auto;
	transition-property: width, height;
	transition-duration: $resize-time;
}
