/*-------------------------*\
|	MODAL DIALOGS
\*-------------------------*/

$modal-width:   300px;
$modal-height:  360px;
$modal-padding:	 10px;
$modal-bwidth:   12px;

$modal-title-height:   25px;
$modal-content-height: $modal-height - $modal-title-height - $modal-padding;

$whiteout-color: rgba(255, 255, 255, 0.8);


.modal {
	/* layout */
	overflow: hidden;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 200;

	/* default size */
	width: $modal-width;
	height: $modal-height;
	margin-left: ( -($modal-width / 2) - $modal-padding - $modal-bwidth );
	margin-top: ( -($modal-height / 2) - $modal-padding - $modal-bwidth );
	padding: $modal-padding;

	/* chrome */
	border: $modal-bwidth solid #666;
	border: $modal-bwidth solid rgba(0, 0, 0, 0.5);
	border-radius: ($modal-bwidth * 1.5);
	background-color: #fff;
	background-clip: padding-box;
}

$modal-close-size: 15px;
.modal-close {
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 8px;
	width: $modal-close-size;
	height: $modal-close-size;
	border-radius: $modal-close-size;
	line-height: $modal-close-size;

	font-size: 12px;
	text-align: center;

	&:hover {
		color: #fff;
		background-color: #777;
	}
}

.modal-title {
	margin: 0 0 $modal-padding;
	height: $modal-title-height;
	line-height: $modal-title-height;
}

.modal-content {
	height: $modal-content-height;
	overflow: auto;
}

.whiteout {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fff; // backup
	background-color: $whiteout-color;
}
